#CATEGORY POSSIBLE VALUES  :: FUNCTIONAL  TEST -> FUNC
#							  STRESS      TEST -> STRESS
#							  PERFORMANCE TEST -> PERF
#
#CATEGORY   TEST_TYPE   FAMILY  FILE    ADDRESS BIN_DIR RESET   PORT_NAME   SN  Sectors INTERFACE
FUNC        DNLD        MPU        testFiles\FlashLayout_sdcard_stm32mp157f-dk2-trusted.tsv        ---        testFiles\        TRUE        USB1        0033002C3438511836383238        ---        USB        -----        -----